<div class="row">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input type="text" value=item.name class="form-control"}}
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        {{input type="text" value=item.location class="form-control"}}
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        {{input type="text" value=item.image class="form-control"}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" {{action "addItem"}}>Add Item</button>
      </div>
    </form>
  </div>
</div>
