<div class="row">
  <div class="col-md-12">
    <h2>{{name}}</h2>
    <div class="image-box">
      {{#if image}}
        <img {{bind-attr src=image}} />
      {{/if}}
    </div>
    {{location}}
  </div>
</div>
